/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*.container {
  height: auto;
  max-height: 100rem;
  padding: 15 15px;
}*/




/**{

  

}
*/

/*Nav Customization*/

.nav_bar{

  position: sticky;
  top: 0;
  z-index: 10;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

 
}


.navbar-brand{
  
  padding-left: 10px;
}

#navbarNav{


padding-left: 12rem;


}



/*Carousel Customization*/

/* Carousel base class */
.carousel{

height: 100%;
  margin-bottom: 180px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #fff;
  font-size: 20px;
  text-align: center justify-all;
  text-shadow: 2px 2px 5px black;
}

.carousel-caption > h5{

 font-size: 80px;
 

}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 34rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 34rem;
}


.img-banner{


  opacity: 0.8;
}





/*Section Customization*/
.c_home{

padding-top: 6rem;
text-align: center justify-all;
padding-bottom: 12rem;

}


.card{
padding-bottom: 0px;
}

.header_name{

 font-family: Georgia, serif;
 font-size: 40px;
 font-weight: bold;
 font-style: italic;

}

.header{
 

  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;

}

.img-fluid{

 border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500rm;

}

h2{

 font-family: Garamond, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

}

label{

 font-family: Garamond, serif;
  font-size: 20px;
  text-align: left;
  padding-bottom: 5px;
  font-weight: bold;


}

#send{

  margin-top: 10px;
}

.content_home{

text-align: center justify-all;
padding-top: 5 5 5 5px;
font-size: 20px;

}

.c_about{

padding-top: 6rem;
text-align: center justify-all;
padding-bottom: 20rem;


}


#txt_con{
font-family: Garamond, serif;
 font-size: 15px;
 font-weight: bold;
 font-style: italic;

}

#data_table{

font-family: Garamond, serif;
 font-size: 15px;


}

.content_accord{

font-family: Garamond, serif;
 font-size: 15px;
 text-align: justify;
font-size: medium;

}

.accordion-button{

font-family: Garamond, serif;
 font-size: 15px;


}


.c_projects{

padding-top: 6rem;
text-align: center justify-all;
padding-bottom: 4rem;

}


#img1{


    height: 10vh;
    width: 10vh;
    border-radius: 80px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
 

}


.content_home{

text-align: center justify-all;
padding-top: 5 5 5 5px;
font-size: 15px;

}

.c_contact{


padding-top: 14rem;
text-align: center justify-all;



}

.footnote{

text-align: center;
color: white;
font-size: 20px;
font-weight: strong;
padding-bottom: 45px;

}

li{

text-align: center justify-all;
padding-top: 5 5 5 5px;
font-size: 15px;

}



/*/*//*/*/


























