/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*.container {
  height: auto;
  max-height: 100rem;
  padding: 15 15px;
}*/




/**{

  font-family: 'Libre Baskerville', serif;
font-family: 'Nunito', sans-serif

}
*/

/*Nav Customization*/

.nav_bar{

  position: sticky;
  top: 0;
  z-index: 10;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

 
}


.navbar-brand{
  
  padding-left: 10px;
}

#navbarNav{


padding-left: 12rem;


}



/*Carousel Customization*/

/* Carousel base class */
.carousel{

height: 100%;
  margin-bottom: 180px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #fff;
  font-size: 20px;
  text-align: center justify-all;
  text-shadow: 2px 2px 5px black;
}

.carousel-caption > h5{

 font-size: 80px;
 

}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 34rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 34rem;
}


.img-banner{


  opacity: 0.8;
}





/*Section Customization*/
.c_home{

padding-top: 6rem;
text-align: center justify-all;
padding-bottom: 6rem;

}


.header{
 

  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 45px;
  text-align: center;

}


.content_home{

text-align: center justify-all;
padding-top: 5 5 5 5px;

}

.c_about{

padding-top: 6rem;
text-align: center justify-all;
padding-bottom: 6rem;


}

/*/*//*/*/

section projects{


padding-top: 25px;
}


#img1{


      height: 10vh;
    width: 10vh;
    border-radius: 80px;
}




.footnote{

text-align: center;
color: white;
font-size: 20px;
font-weight: strong;
padding: 25px;


}








.img-fluid{

 border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500rm;

}









#info{
  text-align: right;
  font-weight: 30;
}


#contact{


  padding-top: 5px;
  padding-bottom: 5px;
}




